.wrapper {
    /* min-height: 100%; */
    padding: 5% 5% 5% 5%;
    background-color: purple;
    height: 100%
  }

  @media screen and (min-width: 992px) {
    .wrapper {
      height: 1200px;
    }
  }